# Maven
/target/

# TestNG / Selenium output
/test-output/
/reports/
/screenshots/

# Logs
*.log

# Eclipse
.project
.classpath
.settings/
.vscode/settings.json

# OS files
.DS_Store
Thumbs.db
log.txt
log.txt
